
.diagram-div {
    padding-top: 30px;
    padding-bottom: 30px;
}

.diagram-div > svg {
    display: block;
    margin: auto;
}

.label > g > text {
    transform: translateX(25px);
}

.link-to-az-func-as-a-graph{
    float:right;
    padding: 5px;
}

.settings-group {
    padding-left: 40px;
}