
.datetime-cell {
    min-width: 190px;
}

.till-checkbox {
    padding-top: 20px !important;
    padding-bottom: 4px !important;
}

.till-label {
    padding-left: 15px !important;
}

.from-input {
    width: 247px;
}

.till-input {
    width: 215px;
}

.filter-value-input {
    width: 350px;
}

.filtered-column-input {
    width: 180px;
}

.items-count-label {
    padding-left: 15px;
}

.instance-id-cell {
    min-width: 180px;
    max-width: 270px;
    word-break: break-all;
}

.output-cell {
    min-width: 100px;
    max-width: 200px;
}