
.purge-history-from-input {
    
}

.purge-history-till-input {
    margin-left: 20px !important;
}

.purge-history-statuses {
    margin-top: 20px !important;
}

.success-message {
    color: green !important;
}