body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: table;
  width: 100%;
}

.runtime-status-failed {
    background-color: rgb(255, 234, 228);
}

.runtime-status-completed {
    background-color: rgb(242, 250, 240);
}

.runtime-status-running {
    background-color: rgb(252, 250, 236);
}

.runtime-status-listening {
    background-color: rgb(236, 244, 252);
}

.runtime-status-terminated {
    background-color: rgb(235, 235, 235)
}

.top-toolbar {
    padding-top: 5px;
    padding-bottom: 15px;
}

.toolbar-select {
    min-width: 150px
}

.long-text-cell {
    min-width: 200px;
    max-width: 250px;
}

.long-text-cell-input {
    font-size: x-small !important;
}

.empty-table-placeholder {
    padding: 10px;
    text-align: center;
}

.name-cell {
    max-width:160px;
    word-break: break-all;
}